* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-title {
  padding: 20px;
}

.main {
  width: 840px;
  margin: 50px auto;
}

.contents {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.top {
  padding-bottom: 30px;
  border-top: none;
}